<nav class="navbar navbar-expand-lg  justify-content-center" style="background-color: #d1d3dd;">
  <span class="navbar-brand navbar-text">Banco Estado</span>
</nav>
<br />
<div class="container-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo Cuenta</th>
        <th scope="col">Numero Cuenta</th>
      </tr>
    </thead>
    <tbody *ngFor="let info of data;let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{info.rut}}</td>
        <td>{{info.nombre}}</td>
        <td>{{info.tipo_cuenta}}</td>
        <td>{{info.numerocuenta}}</td>
      </tr>
    </tbody>
  </table>
</div>